.light {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #168be8;
  color: #fff;
  height: 50px;
  font-size: 12px;
  font-weight: 300;
}

.light a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}

.dark {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #495466;
  color: #fff;
  height: 50px;
  font-size: 12px;
  font-weight: 300;
}

.dark a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}
